
@{
    ViewBag.Title = "Index";
}
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        max-height: 300px;
        margin: auto;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="first-slide" src="~/images/satellite.jpg" alt="First slide" height="200">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="second-slide" src="~/images/caps_ooh.jpg"alt="Second slide" height="200">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Out Of Home Measure</h1>
                    <p>
                        High Precision Measurement for Panel Inventory to survey the potential
                        market
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>




<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>CUENDE INFOMETRICS</h3>
                <p>
                    <b>What we do</b>
                </p>
                <p>
                    Design and develop advanced research systems in the areas of marketing
                    and advertising.
                </p>
                <p>
                    <b>Vision</b>
                </p>
                <p>
                    Contribute to the effectiveness of our customers’ business, providing
                    information and knowledge of essential factors of their markets to increase
                    profits and / or reduce risks.
                </p>
                <p>
                    <b>Philosophy</b>
                </p>
                <p>
                    CUENDE Infometrics consists mainly of specialized professionals in the
                    creation, innovation and development of new systems. CUENDE Infometrics
                    does not have pollsters on staff, when surveys are necessary the service
                    is outsourced to internationally recognized companies (Kantar-TNS, Metrixlab
                    and Ipsos). This ensures the quality of fieldwork and the focus of CUENDE
                    Infometrics staff in innovation.
                </p>
                <p>
                    Members of our staff are members of marketing research organizations such
                    as ESOMAR and AEDEMO (Asociación Española de Estudios de Mercado, Marketing
                    y Opinión) and computing technologies such as ACM.
                </p>
            </div>
        </div>
    </div>
</div>